/* You can add global styles to this file, and also import other style files */
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: rgb(179, 176, 176);
}

* {
  margin: 0;
  padding: 0;
}
